rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
      function isSuperAdmin() { return isSignedIn() && request.auth.token.role == 'superadmin'; }
    function inCompany(empresaId) {
      return exists(/databases/$(database)/documents/empresas/$(empresaId)/usuarios/$(request.auth.uid));
    }
    function isCompanyAdmin(empresaId) {
      return get(/databases/$(database)/documents/empresas/$(empresaId)/usuarios/$(request.auth.uid)).data.role == 'admin';
    }

    match /empresas/{empresaId} {
      allow read: if isSuperAdmin() || inCompany(empresaId);
      allow write: if isSuperAdmin();

      match /usuarios/{userId} {
        allow read: if isSuperAdmin() || (isSignedIn() && request.auth.uid == userId && inCompany(empresaId));
        allow write: if isSuperAdmin() || (isSignedIn() && inCompany(empresaId) && isCompanyAdmin(empresaId));
      }

      match /{document=**} {
        allow read, write: if isSuperAdmin() || inCompany(empresaId);
      }
    }
  }
}
